<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Dynamic Default')"/>
<!--/*@thymesVar id="result" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Dynamic Default', href=@{/api/uc/index#uc-example-dynamicdefault})"/>

<main>
    <article>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col">
                    <section>
                        <p>
                            The specification for the CDI <a
                                href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#injection_point_default_qualifier">
                            Default Qualifier
                        </a>.
                        </p>
                        <p>
                            Sometimes it is necessary to switch an default implementation during runtime which cannot be
                            defined via injection points. Injections are always defined during compile
                            time and don't allow a dynamic behavior.
                        </p>
                        <p>
                            A use-case would be a system which provides an own database for a group of users, where
                            users of a group are only allowed to access the database related to them. So, the system
                            needs to be able to switch the default implementation of the database accessor depending on
                            the currently logged user.
                        </p>
                        <p>
                            See the package <code>at.gepardec.cditraining.uc.dynamicdefault.*</code> for the relevant
                            classes.
                            Especially take a look at the comments
                        </p>

                        <hr class="mt-3 mb-3"/>

                        <div class="row m-2 text-center">
                            <div class="col mr-1">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/dynamicdefault/ServiceA}, text='Select ServiceA')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/dynamicdefault/ServiceB}, text='Select ServiceB')"/>
                            </div>
                        </div>
                        <hr class="mt-3 mb-3"/>

                        <div class="row m-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                Current selected implementation
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${result}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section class="text-center font-weight-bold">
                        <p>
                            The solution for this problem is a CDI Producer method for the <code>@Default</code>
                            qualifier which selects the implementation depending on a discriminator value.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
