<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Dynamic Default')"/>
<!--/*@thymesVar id="result" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Dynamic Default', href=@{/api/uc/index#uc-example-dynamicdefault})"/>

<main>
    <article>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col">
                    <section>
                        <p>
                            The specification for the CDI <a
                                href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#injection_point_default_qualifier">
                            Default Qualifier
                        </a>.
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section>
                        <h4>Use Case</h4>
                        <p>
                            An application wants to switch the default implementation of a bean type depending on a
                            discriminator value.
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section>
                        <h4>
                            Problem
                        </h4>
                        <p>
                            CDI doesn't provide a declarative way to express a switch behavior for a implementation of
                            an injection point.
                            Everything is defined during compile time and is resolved during startup and cannot be
                            changed anymore.
                            So, we can choose one implementation and make it the default, but this one is the default
                            forever.
                        </p>

                        <div class="text-center m-2">
                            <img th:src="@{/assets/images/uc-dynamic-default-problem.svg}" height="300px"
                                 width="100%" alt="Problem with Defaults" title="Problem with Defaults">
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section id="solution">
                        <h4>
                            Solution
                        </h4>

                        <p>
                            Instead of declaring an implementation of the interface <code>Service</code> as the default
                            by annotating it with the <code>@Default</code> qualifier, we qualify each implementation
                            with their own qualifier. Additionally we define the default implementation via a CDI
                            Producer method, which handles the switching depending on a discriminator.
                            The CDI Producer Bean injects all possible implementations (or uses <code>Instance&lt;Service&gt;</code>)
                            and returns the proper reference in the producer method depending on the discriminator.
                        </p>

                        <p>
                            See the package <code>at.gepardec.cditraining.uc.dynamicdefault.*</code> for the relevant
                            classes.
                            Especially take a look at the comments
                        </p>

                        <div class="text-center m-2">
                            <img th:src="@{/assets/images/uc-dynamic-default-solution.svg}" height="300px"
                                 width="100%" alt="Solution for dynamic defaults" title="Solution for dynamic defaults">
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section>
                        <div class="row m-2 text-center">
                            <div class="col mr-1">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/dynamicdefault/ServiceOne#solution}, text='Select ServiceOne')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/dynamicdefault/ServiceTwo#solution}, text='Select ServiceTwo')"/>
                            </div>
                        </div>
                        <hr class="mt-3 mb-3"/>

                        <div class="row m-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                Current default
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${result}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
