<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Interceptors')"/>
<!--/*@thymesVar id="producedString" type="java.lang.String"*/-->
<!--/*@thymesVar id="producedBeanValue" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="producedBeanClass" type="at.gepardec.cditraining.producers.ProducedBean"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Interceptors', href=@{/api/index#index-example-interceptors})"/>

<main role="main">
    <section>
        <article>
            <div class="container">
                <div class="row m-2">
                    <div class="col text-center">
                        <h4>
                            Click <kbd>F5</kbd> to refresh
                        </h4>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <p>
                            The specification for CDI
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#interceptors" target="_blank">
                               Interceptors
                            </a>
                        </p>
                        <p>
                            See the package <code> at.gepardec.cditraining.interceptors.*</code>
                            for the provided interceptor implementations
                        </p>
                        <p>
                            An interceptor is either registered via the a <code>beans.xml</code> or
                            via the <code>@Priority</code> annotation
                        </p>
                        <p>
                            You need to check the logs to see if the interceptors are working
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2 ">
                    <div class="col">
                        <h4>
                            1. Interceptor enabled via <code>@Priority</code>
                        </h4>

                        <p>
                            Interceptors enabled with <code>@Priority</code> are enabled
                            globally in all CDI modules
                            <br/>
                            If all interceptors define the
                            same priority then the order they are executed is not deterministic
                        </p>

                        <h5>
                            Your Task:
                        </h5>

                        <p>
                            Ensure that the interceptors declared on the rest resource
                            <code>at.gepardec.cditraining.interceptors.InterceptorsController</code>, are invoked in the
                            following order:
                        </p>
                        <ol class="font-weight-bold">
                            <li>FirstInterceptor</li>
                            <li>
                                SecondInterceptor
                            </li>
                        </ol>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading">Important!!</h5>
                            Ensure that no interceptor is enabled in the <code>beans.xml</code>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2 ">
                    <div class="col">
                        <h4>
                            2. Interceptor enabled via <code>beans.xml</code>
                        </h4>

                        <p>
                            Interceptors enabled with a <code>beans.xml</code> are enabled
                            only in the declaring CDI module. With this approach you have no problems with ordering
                        </p>

                        <h5>
                            Your Task:
                        </h5>

                        <p>
                            Ensure that the interceptors declared on the rest resource
                            <code>at.gepardec.cditraining.interceptors.InterceptorsController</code>, are invoked in the
                            following order:
                        </p>
                        <ol class="font-weight-bold">
                            <li>SecondInterceptor</li>
                            <li>
                                FirstInterceptor
                            </li>
                        </ol>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading">Important!!</h5>
                            Ensure that no interceptor is enabled via <code>@Priority</code> annotations forehand
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2 ">
                    <div class="col">
                        <h4 id="interceptors-binding">
                            4. Interceptor with bindings
                        </h4>

                        <p>
                            Interceptors can hold literal values as any other annotation.
                            <br/>
                            These values can be used to select an interceptor implementation instead of introducing a
                            new
                            interceptor annotation
                        </p>

                        <h5>
                            Your Task:
                        </h5>

                        <p>
                            Implement two interceptors, which log simple message to the console, for the interceptor
                            binding
                            <code>at.gepardec.cditraining.interceptors.BindingInterceptor</code> and enhance the
                            interceptor
                            binding so that you can select one of your implementations on the annotated method
                            <code>at.gepardec.cditraining.interceptors.InterceptorsController.get()</code>
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>