<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Alternatives')"/>
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="resultOriginal" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Alternatives', href=@{/api/uc/index#uc-example-alternatives})"/>

<main>
    <article>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col">
                    <p>
                        The specification for CDI <a
                            href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#alternatives">
                        Alternatives</a> and <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#stereotypes">
                        Stereotypes
                    </a>.
                    </p>
                    <p>
                        Sometimes it is necessary to statically define an alternative implementation for CDI Beans,
                        where both implementations are available for the CDI Container. Alternative implementations
                        implement the contract of the original type one want's to provide an alternative implementation
                        for. Alternative implementations are enabled either via <code>@Priority</code> or via the <code>beans.xml</code>.
                        Compared to <code>Specialized</code> the original implementation can still be accessed via
                        injecting the original implementation type.
                        This behavior is due to the fact that the common type is the contract.
                    </p>
                    <p>
                        A use case is to provide an alternative implementation for testing or during development,
                        which gets statically enabled. Another use case is to provide an alternative implementation
                        for a CDI Bean provided by a third party library.
                    </p>
                    <hr class="mt-3 mb-3"/>

                    <div class="row m-1">
                        <div class="col-sm text-center text-sm-right mr-sm-1">
                            Alternative implementation
                        </div>
                        <div class="col-sm text-center text-sm-left ml-sm-1">
                            <span th:text="${result}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-sm text-center text-sm-right mr-sm-1">
                            Original implementation (still here)
                        </div>
                        <div class="col-sm text-center text-sm-left ml-sm-1">
                            <span th:text="${resultOriginal}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <hr class="mt-3 mb-3"/>

                    <p>
                        See the package <code>at.gepardec.cditraining.uc.alternatives.*</code> for the relevant
                        classes.
                        Especially take a look at the comments.
                    </p>

                    <p>
                        Alternatives beans can be defined in two ways:
                    </p>
                    <ol>
                        <li>
                            Via the <code>@Alternative</code> annotation on the alternative implementation class
                            along
                            with either an <code>beans.xml</code> entry or a <code>@priority</code> annotation.
                        </li>
                        <li>
                            Via a custom stereotype annotation which contains the annotations
                            <code>@Stereotype</code>
                            <code>@Alternative</code> and an entry in the <code>beans.xml</code>. If activated
                            all beans
                            annotated with stereotype annotation are activated.
                        </li>
                    </ol>

                    <hr class="mt-3 mb-3"/>

                    <section class="text-center  font-weight-bold">
                        <p>
                            Alternatives are used to provide alternative implementations which are enabled statically
                            for the context (test, dev) where they are needed, and the original implementation needs to
                            be available as well.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
