<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Specializes')"/>
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<!--/*@thymesVar id="resultOriginal" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Specializes', href=@{/uc/index#uc-example-specialized})"/>

<section>
    <article>
        <div class="container">
            <div class="row m-2 text-center">
                <div class="col mr-1">
                    <h4>
                        Click <kbd>F5</kbd> to refresh
                    </h4>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p>I'm the <code>@Inject Service</code>: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${result}" class="font-weight-bold"/>
                </div>
            </div>

            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p>I'm the <code>@Inject ServiceOriginal</code>: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${resultOriginal}" class="font-weight-bold"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <hr class="mt-3 mb-3"/>

                    <p>
                        See the package <code>at.gepardec.cditraining.uc.specializes.*</code> for the relevant
                        classes.
                        Especially take a look at the comments.
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <p>
                        Specialized beans can be defined in two ways:
                    </p>
                    <ol>
                        <li>
                            Via the <code>@Specialized</code> annotation on the specialized implementation class
                        </li>
                        <li>
                            Via the <code>@Alternative</code> annotation on the specialized implementation class
                            along with an <code>beans.xml</code> entry or an <code>@Priority</code> annotation.
                        </li>
                    </ol>

                    <p>
                        Compared to alternative beans, specialized beans replace the original bean, no matter with what
                        approach a specialized bean has been defined.
                    </p>

                    <p>
                        When using a stereotype annotation, then we could just enable the stereotype annotation as an
                        alternative (same for specialized) and all annotated beans would be activated.
                    </p>

                    <p>
                        Via the <code>@Priority</code> annotation we can provide specialized beans of other CDI
                        bean archives, even from third party archives as you can see in the class <code>at.gepardec.cditraining.TemplateEngineProducer</code>.
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-center">
                    <h5>
                        The alternative implementation is annotated with <code>@Alternative</code> and is enabled via
                        the the <code>beans.xml</code> or the <code>@Priority</code> annotation.
                    </h5>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
