<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Field Inj.')"/>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Field Injection', href=@{/index#index-example-injection})"/>

<section>
    <article>
        <div class="container">
            <div class="row m-2">
                <div class="col text-center">
                    <h4 th:text="${name}"/>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <p>
                        When a <code>bean</code> uses CDI <code>bean</code>, then it must be a CDI <code>bean</code> as
                        well
                    </p>
                    <p>
                        With CDI either everything is managed by CDI or nothing at all
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
