<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Constructor Inj.')"/>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Constructor Injection', href=@{/api/index#index-example-injection})"/>

<section>
    <article>
        <div class="container">
            <div class="row m-2 ">
                <div class="col text-center">
                    <h4 th:text="${name}"/>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2 ">
                <div class="col">
                    <p>
                        If a constructor is used for injection, then you need to mark it.
                    </p>
                    <p>
                        Depending on the CDI implementation you use, it could be necessary to provide an empty
                        constructor,
                        otherwise your beans would cause exceptions.
                    </p>
                    <p>
                        In your case it was a JAX-RS implementation related problem, actually caused by Resteasy, which
                        requires
                        an empty constructor on a rest resource implementation. See this
                        <a href="https://issues.redhat.com/browse/RESTEASY-1538?workflowName=classic+default+workflow&stepId=4"
                           target="_blank">RedHat Issue</a> for further information
                    </p>
                    <p>
                        See this
                        <a href="https://stackoverflow.com/questions/19381846/why-use-constructor-over-setter-injection-in-cdi"
                           target="_blank">
                            stackoverflow article</a> why and when constructor injection can be useful
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
