<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Field Inj.')"/>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Field Injection', href=@{/api/index#index-example-injection})"/>

<article>
    <section>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col">
                    <h4 th:text="${name}"/>

                    <hr class="mt-3 mb-3"/>

                    <p>
                        When an instance want's to use a CDI Bean, then it must be a CDI Bean itself.
                        With CDI either everything is managed by CDI or nothing at all.
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>
        </div>
    </section>
</article>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
