<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='CDI Training - Field Inj.')"/>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Injection via Field', href=@{/index})"/>

<section class="text-center">
    <div class="container">
        <div class="row m-2">
            <div class="col">
                <article>
                    <h4 th:text="${name}"/>

                    <p>See <a href="https://www.javablog.be/inject-nullpointerexception/inject-field.html">When using CDI in some places,
                        you
                        have to use it
                        everywhere</a> for more information<br/>
                </article>
            </div>
        </div>
    </div>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
