<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='CDI Training - Constructor Inj.')"/>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->

<body>

<section>
    <div class="container">
        <div class="row m-5">
            <div class="col">
                <header class="text-center">
                    <h1>Injection via constructor</h1>
                </header>
            </div>
        </div>

        <div class="row m-2 text-center">
            <div class="col">
                <article>
                    <h4 th:text="${name}"/>

                    <p>Some more <a
                            href="https://stackoverflow.com/questions/19381846/why-use-constructor-over-setter-injection-in-cdi"
                            target="_blank">
                        information</a> why constructor injection can be useful</p>
                </article>
            </div>
        </div>
        <div class="row m-2 text-center">
            <div class="col">
                <div th:replace="/WEB-INF/fragments/general.html :: footer(href=@{/index})"/>
            </div>
        </div>
    </div>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
