<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC')"/>

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='CDI Training Use-Cases', href=@{/api/welcome})"/>

<main>
    <article>
        <div class="container text-center">

            <div id="uc-example-concurrency" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Concurrency</h2>

                            <div class="card-text text-left">
                                <p>
                                    When using Concurrency in CDI you will faces problems with scopes others than
                                    <code>@Dependent</code> and <code>@ApplicationScoped</code>
                                </p>

                                <div class="text-center m-2">
                                    <img th:src="@{/assets/images/uc-concurrency-intro.svg}" height="200px"
                                         width="100%" alt="Use Case Concurrency introduction">
                                </div>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{./concurrency}, text='Conccurency')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="uc-example-dynamicdefault" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Dynamic Default</h2>

                            <div class="card-text text-left">
                                <p>
                                    Sometimes it is necessary to change the default implementation of a CDI bean during
                                    runtime
                                </p>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{./dynamicdefault}, text='Dynamic Default')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="uc-example-alternatives" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Alternative</h2>

                            <div class="card-text text-left">
                                <p>
                                    Sometimes we need to provide an alternative implementation for a CDI bean, maybe for
                                    development and/or tests
                                </p>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{./alternatives}, text='Alternatives')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="uc-example-specialized" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Specialized</h2>

                            <div class="card-text text-left">
                                <p>
                                    Sometimes we need to completely overwrite a CDI bean, maybe a configuration producer
                                    bean
                                    of a framework where we need to specialize the configuration
                                </p>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{./specializes}, text='Specialized')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="uc-example-registrar" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Registrar</h2>

                            <div class="card-text text-left">
                                <p>
                                    Registrars are CDI beans used to couple parts of an application, e.g for
                                    asynchronous
                                    executions where we need to capture the results and provide it to other CDI beans
                                    when available
                                </p>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/registrar}, text='Registrar')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="uc-example-startupevent" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Startup-Event</h2>

                            <div class="card-text text-left">
                                <p>
                                    CDI events are used to couple parts of an application in a de-coupled manner and to
                                    notify
                                    observers about events.
                                </p>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{./startupevent}, text='Startup-Event')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div id="uc-example-lookupfactory" class="row m-1">
                <div class="col mb-2">
                    <section class="card">
                        <div class="card-body">
                            <h2 class="card-title">Lookup-Factory</h2>

                            <div class="card-text text-left">
                                <p>
                                    When CDI beans have to be selected dynamically during runtime, then we can implement
                                    a
                                    factory
                                    which encapsulates the interaction with the CDI container.
                                </p>

                                <div class="text-center">
                                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/lookupfactory/A}, text='Lookup-Factory')"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
