<html>
    <section>
        <h1>Interceptors</h1>
        <article>
            <h2>This classes and annotations are your reference reference</h2>
            <p><code>at.gepardec.cditraining.interceptors.InterceptorsResource</code></p>
            <p><code>at.gepardec.cditraining.interceptors.FirstInterceptor</code></p>
            <p><code>at.gepardec.cditraining.interceptors.FirstIntercept</code></p>
            <p><code>at.gepardec.cditraining.interceptors.SecondInterceptor</code></p>
            <p><code>at.gepardec.cditraining.interceptors.SecondIntercept</code></p>
            <p><code>at.gepardec.cditraining.interceptors.BindingInterceptor</code></p>
            <p><code>at.gepardec.cditraining.interceptors.BindingInterceptorOne</code></p>
            <p><code>at.gepardec.cditraining.interceptors.BindingInterceptorTwo</code></p>
        </article>
        <section>
            <h2>Basic</h2>
            <article>
                <h3>Enable different interceptor via attribute</h3>
                <p>Modify the <code>Interceptors</code> class in a way that <code>BindingInterceptorTwo</code> is enabled and <code>BindingInterceptorOne</code> is disabled</p>
                <p>When finished the logs should contain the message <code>BindingInterceptorTwo start|end</code> instead of <code>BindingInterceptorOne start|end</code></p>
            </article>

            <article>
                <h3>Implement an interceptor for exception handling</h3>
                <p>Now create your own interceptor <code>ExceptionInterceptor</code> and InterceptorBinding <code>ExceptionHandler</code></p>
                <p>This interceptor should intercept the method <code>error</code> in <code>at.gepardec.cditraining.interceptors.InterceptorsResource</code></p>
                <p>In the interceptor a <code>TemplateInstance</code> like in <code>at.gepardec.cditraining.interceptors.InterceptorsResource</code> is returned with <code>return interceptors.data("error",...)</code></p>
                <p>When finished implementing hit the button below and there should be a message displayed on this page just below and not a stacktrace</p>
            </article>

            <form action="/interceptors/error" method="post">
                <button type="submit">Trigger Error</button>
                {#if error}<p>ERROR: {error}</p>{/if}
            </form>
        </section>

        <section>
            <h2>Extended</h2>
            <article>
                <h3>Implement a logging interceptor with an attribute named <code>prefix</code></h3>
                <p>Now create your own interceptor <code>LoggingInterceptor</code> and InterceptorBinding <code>Logging</code></p>
                <p>This interceptor should intercept the method <code>logging</code> in <code>at.gepardec.cditraining.interceptors.InterceptorsResource</code></p>
                <p>When finished implementing hit the button below there should be your logging message with your prefix in the logs</p>
                <p><strong>Remember the interceptor resolution!!</strong></p>

                <form action="/interceptors/logging" method="post">
                    <button type="submit">Trigger Logging</button>
                </form>
            </article>

            <article>
                <h3>Logging and exception handling</h3>
                <p>Apply your <code>@Logging</code> <code>@ExceptionHandler</code> annotation <strong>(in that order)</strong> on the method <code>loggedAndHandled</code> in <code>at.gepardec.cditraining.interceptors.InterceptorsResource</code></p>
                <p>Enhance your <code>LoggingInterceptor</code> implementation so that it logs the exception</p>
                <p>Add a log message in the catch block of your <code>ExceptionHandlerInterceptor</code> so that you see that an exception gets handled</p>
                <p>When finished implementing hit the button below there should be your logging message with your prefix in the logs as well as the exception handler logs</p>

                <form action="/interceptors/loggedAndHandled" method="post">
                    <button type="submit">Trigger Logging And Error</button>
                    {#if error}<p>ERROR: {error}</p>{/if}
                </form>
            </article>
        </section>
    </section>

    <a href="/">back</a>

</html>
