<html>

    <p>Have a look into the logs and see what happens and the classes:</p>
    <p><code>at.gepardec.cditraining.interceptors.Interceptors</code></p>
    <p><code>at.gepardec.cditraining.interceptors.FirstInterceptor</code></p>
    <p><code>at.gepardec.cditraining.interceptors.FirstIntercept</code></p>
    <p><code>at.gepardec.cditraining.interceptors.SecondInterceptor</code></p>
    <p><code>at.gepardec.cditraining.interceptors.SecondIntercept</code></p>

    <p>Now create your own interceptor ExceptionInterceptor and InterceptorBinding ExceptionHandler</p>
    <p>This interceptor should intercept the method error in at.gepardec.cditraining.interceptors.Interceptors</p>
    <p>In the interceptor a TemplateInstance like in at.gepardec.cditraining.interceptors.Interceptors is returned with <code>return interceptors.data("error",...)</code></p>
    <p>When finished implementing hit the button there should be a message displayed on this page just below and not a stacktrace</p>

    <form action="/interceptors/error" method="post">
        <button type="submit">Trigger Error</button>
        {#if error}<p>ERROR: {error}</p>{/if}
    </form>

    <a href="/">back</a>

</html>
