<html>
<p><b>Same class DependentBean injected into different scoped beans<br/></b></p>
dependentBeanRequestScoped BEAN: {dependentBeanRequestScoped} Value: {dependentBeanRequestScopedValue} <br/>
dependentBeanSessionScoped BEAN: {dependentBeanSessionScoped} Value: {dependentBeanSessionScopedValue} <br/>
dependentBeanApplicationScoped BEAN: {dependentBeanApplicationScoped} Value: {dependentBeanApplicationScopedValue} <br/>
dependentBeanSecondApplicationScopedValue BEAN: {dependentBeanSecondApplicationScoped} Value: {dependentBeanSecondApplicationScopedValue} <br/>
<p><b>Have a look at the two ApplicationScoped injections. They should be different.</b></p>
<a href="/">back</a>
</html>
