<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='CDI Training - Field Inj.')"/>
<!--/*@thymesVar id="myProducedString" type="java.lang.String"*/-->
<!--/*@thymesVar id="producedBeanValue" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="producedBeanClass" type="at.gepardec.cditraining.producers.ProducedBean"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Producers', href=@{/index})"/>

<section class="text-center">
    <div class="container">
        <div class="row m-2">
            <div class="col">
                <article>
                    <h4>
                        Refresh with <kbd>F5</kbd>
                    </h4>

                    <hr class="mt-3 mb-3"/>

                    <div class="row m-1">
                        <div class="col-sm-4 mr-1 text-right">
                            <p>I'm your produced String:</p>
                        </div>
                        <div class="col-sm-7 text-left ml-1">
                            <span th:text="${myProducedString}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-sm-4 mr-1 text-right">
                            <p>I'm the produced value:</p>
                        </div>
                        <div class="col-sm-7 text-left ml-1">
                            <span th:text="${producedBeanValue}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-sm-4 mr-1 text-right">
                            <p>I'm the producer class:</p>
                        </div>
                        <div class="col-sm-7 text-left ml-1">
                            <span th:text="${producedBeanClass}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <hr class="mt-3 mb-3"/>

                    <p>Now Create your own producer. Ininitalize a circle and a rectangle and return them in a list
                        which is session scoped</p>

                    <hr class="mt-3 mb-3"/>
                </article>
            </div>
        </div>
    </div>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
