<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Concurrency')"/>
<!--/*@thymesVar id="controllerResult" type="java.lang.String"*/-->
<!--/*@thymesVar id="concurrentResult" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Concurrency', href=@{/api/uc/index#uc-example-concurrency})"/>

<main>
    <article>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col">
                    <section>
                        <p>
                            Concurrency in CDI is a little bit difficult, because only <code>@ApplicationScoped</code>
                            and <code>@Dependent</code> scoped beans are available on other threads. The problem is,
                            that in web application some data used by the concurrently executed workflow comes from
                            a request, so how can we provide this data in a concurrent workflow which doesn't supports
                            <code>@RequestScoped</code> CDI Beans?

                        </p>
                        <p>
                            A use-case for concurrent execution would be a web application which has workflows which can
                            be executed in parallel and will be joined within the active request within an action
                            method.
                        </p>

                        <hr class="mt-3 mb-3"/>

                        <div class="row m-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                Controller Thread
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${controllerResult}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                Concurrent Thread
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${concurrentResult}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section>
                        <p>
                            See the package <code>at.gepardec.cditraining.uc.concurrency.*</code> for the relevant
                            classes.
                            Especially take a look at the comments
                        </p>


                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section class="text-center font-weight-bold">
                        <p>
                            The solution for this problem is that we manage the state indirectly via a request scoped
                            producer bean instead of making the bean request scoped.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
