<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Concurrency')"/>
<!--/*@thymesVar id="controllerResult" type="java.lang.String"*/-->
<!--/*@thymesVar id="concurrentResult" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Concurrency', href=@{/uc/index#uc-example-concurrency})"/>

<section>
    <article>
        <div class="container">
            <div class="row m-2">
                <div class="col text-center">
                    <h4>
                        Click <kbd>F5</kbd> to refresh
                    </h4>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p>Controller: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${controllerResult}" class="font-weight-bold"/>
                </div>
            </div>

            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p>Concurrent: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${concurrentResult}" class="font-weight-bold"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <hr class="mt-3 mb-3"/>

                    <p>
                        See the package <code>at.gepardec.cditraining.uc.concurrency.*</code> for the relevant classes.
                        Especially take a look at the comments
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <p>
                        Concurrency in CDI is a little bit difficult, because only <code>@ApplicationScoped</code>
                        and <code>@Dependent</code> beans are available on other threads
                    </p>
                    <p>
                        We have a web application, so our concurrent workflows are started from an active request,
                        which will also provide state for the concurrent execution
                    </p>
                    <p>
                        So we have to do a little trick to provide all request related beans as dependent scoped beans
                        to the concurrent executed bean
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-center">
                    <h5>
                        We do that by managing the state indirectly via a request scoped producer bean
                    </h5>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
