<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Registrar')"/>
<!--/*@thymesVar id="failedEvents" type="java.lang.String"*/-->
<!--/*@thymesVar id="successEvents" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Registrar', href=@{/api/uc/index#uc-example-registrar})"/>

<main>
    <article>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col mr-1">
                    <section>
                        <p>
                            Sometime it is necessary to capture the result of asynchronous invocations which are not
                            supposed to block the request and don't provide any useful information for the users but the
                            application needs to know the result of the invocation.
                        </p>
                        <p>
                            A use-case would be the asynchronous publishing of a page access or action invocation which
                            don't concern the users, but the application is supposed to log the results for monitoring
                            purposes.
                        </p>
                        <hr class="mt-3 mb-3"/>

                        <div class="row m-2 text-center">
                            <div class="col mr-1">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/registrar/fire/successEvent}, text='Success Event')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/registrar/fire/failedEvent}, text='Fail Event')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/uc/registrar/clear}, text='Clear Registrar')"/>
                            </div>
                        </div>

                        <hr class="mt-3 mb-3"/>

                        <div class="row m-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                Success Events
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <div th:each="event : ${successEvents}">
                                    <span th:text="${event}" class="font-weight-bold"/>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                Failed Events
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <div th:each="event : ${failedEvents}">
                                    <span th:text="${event}" class="font-weight-bold"/>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section>
                        <p>
                            See the package <code>at.gepardec.cditraining.uc.registrar.*</code> for the relevant
                            classes.
                            Especially take a look at the comments.
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section class="text-center font-weight-bold">
                        <p>
                            This problem can solved by providing a registrar CDI Bean in the application or session
                            scope. The futures or asynchronous results are registered on the registrar which can be
                            accessed by other parts of the application.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
