<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Registrar')"/>
<!--/*@thymesVar id="failedEvents" type="java.lang.String"*/-->
<!--/*@thymesVar id="successEvents" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Registrar', href=@{/index#index-uc-registrar})"/>

<section>
    <article>
        <div class="container">

            <div class="row m-2 text-center">
                <div class="col mr-1">
                    <hr class="mt-3 mb-3"/>

                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/uc/registrar}, text='Refresh')"/>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/uc/registrar/fire/successEvent}, text='Success Event')"/>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/uc/registrar/fire/failedEvent}, text='Fail Event')"/>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/uc/registrar/clear}, text='Clear Registrar')"/>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p>Success Events: </p>
                </div>
                <div class="col text-left ml-1">
                    <div th:each="event : ${successEvents}">
                        <span th:text="${event}" class="font-weight-bold"/>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p>Failed Events: </p>
                </div>
                <div class="col text-left ml-1">

                    <div th:each="event : ${failedEvents}">
                        <span th:text="${event}" class="font-weight-bold"/>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <hr class="mt-3 mb-3"/>

                    <p>
                        See the package <code>at.gepardec.cditraining.uc.registrar.*</code> for the relevant
                        classes.
                        Especially take a look at the comments.
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <p>
                        Just firing an asynchronous event or an asynchronous REST/SOAP call and forgetting it mostly not
                        possible. What if we need to report the success/failed events/requests periodically to a metric
                        backend?
                    </p>

                    <p>
                        In this example we use an registrar which holds the success/failed events for further usage.
                        This bean abstracts the producer of the data (event observer) from the consumer or the data
                        (maybe a metrics reporter)
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-center">
                    <h5>
                        The registrar collects the data and makes it available to other CDI beans.
                    </h5>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
