<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Initialization')"/>
<!--/*@thymesVar id="requestValue" type="java.lang.String"*/-->
<!--/*@thymesVar id="sessionValue" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationValue" type="java.lang.String"*/-->
<!--/*@thymesVar id="request" type="javax.servlet.http.HttpServletRequest"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Initialization', href=@{/index#index-example-initialization})"/>

<section>
    <div class="container ">
        <div class="row m-2">
            <div class="col">
                <article>
                    <h4 class="text-center">
                        Click <kbd>F5</kbd> to refresh
                    </h4>

                    <hr class="mt-3 mb-3"/>

                    <div class="row m-2">
                        <div class="col">
                            <p>
                                Check your logs to see when the beans get created and destroyed
                            </p>

                            <hr class="mt-3 mb-3"/>

                            <h5>
                                Your Task:
                            </h5>

                            <p>
                                Again, fix the scopes of the involved beans and check the table below if it works
                            </p>

                            <div class="alert alert-info mt-2 mb-2" role="alert">
                                <h5 class="alert-heading">Important!!</h5>
                                Ensure that you open an private/incognito Tab or a different browser to ensure different
                                http sessions
                            </div>

                            <hr class="mt-3 mb-3"/>
                        </div>

                    </div>

                    <div class="row m-1">
                        <div class="col-sm-4 mr-1 text-right">
                            <p>I should always change</p>
                        </div>
                        <div class="col-sm-7 text-left ml-1">
                            <span th:text="${requestValue}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-sm-4 mr-1 text-right">
                            <p>I should only change in new private tab</p>
                        </div>
                        <div class="col-sm-7 text-left ml-1">
                            <span th:text="${sessionValue}" class="font-weight-bold"/>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-sm-4 mr-1 text-right">
                            <p>I should never change</p>
                        </div>
                        <div class="col-sm-7 text-left ml-1">
                            <span th:text="${applicationValue}" class="font-weight-bold"/>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</body>
