<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='CDI Training')"/>

<body>
<section>
    <div class="container text-center">
        <div class="row m-3">
            <div class="col">
                <header>
                    <h1>Welcome to the CDI Training</h1>
                </header>
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <hr class="solid mt-4 mb-4"/>

                <article>
                    <h2>Injection</h2>

                    <div class="mt-4 mb-4">
                        <h5>You will get an error -> fix it :-D </h5>
                        <code>
                            src/main/java/at/gepardec/cditraining/inject/InjectModel.java
                        </code>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/inject-field}, text='Injection')"/>

                    <div class="mt-4 mb-4">
                        <h5>You will get an error -> fix it :-D </h5>
                        <code>
                            src/main/java/at/gepardec/cditraining/inject/ConstructorInject.java
                        </code>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/inject-constructor}, text='Constructor Injection')"/>
                </article>

                <hr class="solid mt-4 mb-4"/>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Scopes</h2>

                    <div class="mt-4 mb-4">
                        <h5>
                            Values should change as described -> fix it :-D </h5>
                        <code>
                            src/main/java/at/gepardec/cditraining/scopes/RequestScopedBean.java
                            src/main/java/at/gepardec/cditraining/scopes/SessionScopedBean.java
                            src/main/java/at/gepardec/cditraining/scopes/ApplicationScopedBean.java
                        </code>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/scopes/basic}, text='Basic Scopes')"/>

                    <div class="mt-4 mb-4">
                        <h5> Mixing Scopes </h5>
                        <code>
                            src/main/java/at/gepardec/cditraining/scopes/ScopeMixApplication
                            src/main/java/at/gepardec/cditraining/scopes/ScopeMixSession
                            src/main/java/at/gepardec/cditraining/scopes/ScopeMixRequest
                        </code>
                        <p>
                            have a look at <a href="https://riptutorial.com/cdi/topic/9641/scopes" target="_blank">
                            Scopes</a> try to
                            debug
                            the code and find the proxy
                        </p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/scopes/advanced}, text='Advanced Scopes')"/>

                    <div class="mt-4 mb-4">
                        <h5>
                            Pseudo-Scope Dependent
                        </h5>
                        <code>
                            src/main/java/at/gepardec/cditraining/scopes/SecondApplicationScopedBean.java
                            src/main/java/at/gepardec/cditraining/scopes/DependentBean.java
                        </code>
                        <p>
                            have a look at <a
                                href="https://www.adam-bien.com/roller/abien/entry/what_is_dependent_scope"
                                target="_blank">
                            Dependent Scope</a>
                        </p>

                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/scopes/dependent}, text='Pseudo-Scope Dependent')"/>

                    <hr class="mt-4 mb-4"/>
                </article>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Initialization</h2>

                    <div class="mt-4 mb-4">
                        <h5>
                            Values should change as described
                        </h5>
                        <code>
                            src/main/java/at/gepardec/cditraining/initialization/InitRequestScopedBean.java
                            src/main/java/at/gepardec/cditraining/initialization/InitSessionScopedBean.java
                            src/main/java/at/gepardec/cditraining/initialization/InitApplicationScopedBean.java
                        </code>
                        <p>have a look at <a href="https://javaee.github.io/tutorial/cdi-basic014.html">Using
                            PostConstruct
                            and
                            PreDestroy</a>, and also have a look at the logs.</p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/initialization}, text='Basic Initialization')"/>
                </article>
            </div>
        </div>
    </div>

    <h1>TODO: Migrate to thymeleaf and bootstrap</h1>

    <div class="container">
        <div>
            <h5><a href="WEB-INF/views/qualifiers/basic">Qualifiers</a></h5>
            <p><code>src/main/java/at/gepardec/cditraining/qualifiers/*</code></p>
            <p>have a look at <a
                    href="https://www.baeldung.com/java-ee-cdi#5-the-default-and-alternative-annotations">The
                @Default and @Alternative Annotations</a></p>
            <p>or at <a href="https://www.baeldung.com/java-ee-cdi#custom-qualifiers">Custom Qualifiers</a></p>

            <h5><a href="producers">Producers</a></h5>
            <p><code>src/main/java/at/gepardec/cditraining/producers/Producers.java</code></p>
            <p><code>src/main/java/at/gepardec/cditraining/producers/Factory.java</code></p>
            <p><code>src/main/java/at/gepardec/cditraining/producers/ProducedBean.java</code></p>
            <p>have a look at <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_field">Producer
                fields</a>
            </p>
            <p>and <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_method">Producer
                methods</a></p>

            <h5><a href="interceptors">Interceptors</a></h5>
            <p><code>src/main/java/at/gepardec/cditraining/interceptors/*</code></p>
            <p>have a look at <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#_interceptor_example">Interceptor
                example</a></p>
            <p>have a look at <a
                    href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#interceptor_resolution">Interceptor
                resolution</a></p>

            <h5><a href="events">Events</a></h5>
            <p><code>src/main/java/at/gepardec/cditraining/events/*</code></p>
            <p>have a look at <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#events">Events</a></p>
        </div>

        <div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
    </div>
</section>
</body>
</html>
