<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='CDI Training')"/>

<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="mx-auto">
        <h1>Welcome to the CDI Training</h1>
    </div>
</nav>
<section>
    <div class="container text-center">
        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Injection</h2>

                    <div class="mt-4 mb-4">
                        <h5>You will get an error -> fix it :-D </h5>
                        <pre>
                            src/main/java/at/gepardec/cditraining/inject/InjectModel.java
                        </pre>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/inject-field}, text='Injection')"/>

                    <div class="mt-4 mb-4">
                        <h5>You will get an error -> fix it :-D </h5>
                        <pre>
                            src/main/java/at/gepardec/cditraining/inject/ConstructorInject.java
                        </pre>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/inject-constructor}, text='Constructor Injection')"/>
                </article>

                <hr class="solid mt-4 mb-4"/>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Scopes</h2>

                    <div class="mt-4 mb-4">
                        <h5>Basic</h5>
                        <pre>
                            src/main/java/at/gepardec/cditraining/scopes/RequestScopedBean.java
                            src/main/java/at/gepardec/cditraining/scopes/SessionScopedBean.java
                            src/main/java/at/gepardec/cditraining/scopes/ApplicationScopedBean.java
                        </pre>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/scopes/basic}, text='Basic Scopes')"/>

                    <div class="mt-4 mb-4">
                        <h5>Mixed</h5>
                        <pre>
                            src/main/java/at/gepardec/cditraining/scopes/ScopeMixApplication
                            src/main/java/at/gepardec/cditraining/scopes/ScopeMixSession
                            src/main/java/at/gepardec/cditraining/scopes/ScopeMixRequest
                        </pre>
                        <p>
                            have a look at <a href="https://riptutorial.com/cdi/topic/9641/scopes" target="_blank">
                            Scopes</a> try to
                            debug
                            the code and find the proxy
                        </p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/scopes/mixed}, text='Mixed Scopes')"/>

                    <div class="mt-4 mb-4">
                        <h5>Dependent</h5>
                        <pre>
                            src/main/java/at/gepardec/cditraining/scopes/SecondApplicationScopedBean.java
                            src/main/java/at/gepardec/cditraining/scopes/DependentBean.java
                        </pre>
                        <p>
                            have a look at <a
                                href="https://www.adam-bien.com/roller/abien/entry/what_is_dependent_scope"
                                target="_blank">
                            Dependent Scope</a>
                        </p>

                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/scopes/dependent}, text='Pseudo-Scope Dependent')"/>

                    <hr class="mt-4 mb-4"/>
                </article>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Initialization</h2>

                    <div class="mt-4 mb-4">
                        <pre>
                            src/main/java/at/gepardec/cditraining/initialization/InitRequestScopedBean.java
                            src/main/java/at/gepardec/cditraining/initialization/InitSessionScopedBean.java
                            src/main/java/at/gepardec/cditraining/initialization/InitApplicationScopedBean.java
                        </pre>
                        <p>have a look at <a href="https://javaee.github.io/tutorial/cdi-basic014.html" target="_blank">
                            Using PostConstruct and PreDestroy</a>, and also have a look at the logs.</p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/initialization}, text='Basic Initialization')"/>

                    <hr class="mt-4 mb-4"/>
                </article>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Qualifiers</h2>

                    <div class="mt-4 mb-4">
                        <pre>src/main/java/at/gepardec/cditraining/qualifiers/*</pre>
                        <p>
                            Have a look at
                            <a href="https://www.baeldung.com/java-ee-cdi#5-the-default-and-alternative-annotations"
                               target="_blank">
                                The @Default and @Alternative Annotations
                            </a>
                            or at
                            <a href="https://www.baeldung.com/java-ee-cdi#custom-qualifiers" target="_blank">
                                Custom Qualifiers
                            </a>
                        </p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/qualifiers}, text='Qualifiers')"/>

                    <hr class="mt-3 mb-3"/>
                </article>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Producers</h2>

                    <div class="mt-4 mb-4">
                        <pre>
                            src/main/java/at/gepardec/cditraining/producers/Producers.java
                            src/main/java/at/gepardec/cditraining/producers/Factory.java<
                            src/main/java/at/gepardec/cditraining/producers/ProducedBean.java
                        </pre>
                        <p>
                            have a look at
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_field" target="_blank">
                                Producer fields
                            </a>
                            and
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_method" target="_blank">
                                Producer methods
                            </a>
                        </p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/producers}, text='Producers')"/>

                    <hr class="solid mt-4 mb-4"/>
                </article>
            </div>
        </div>

        <div class="row m-1">
            <div class="col">
                <article>
                    <h2>Interceptors</h2>

                    <div class="mt-4 mb-4">
                        <h5>
                            Work through the examples and have fun :-)
                        </h5>

                        <pre>src/main/java/at/gepardec/cditraining/interceptors/*</pre>
                        <p>
                            Have a look at
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#_interceptor_example"
                               target="_blank">
                                Interceptor example
                            </a>
                        </p>
                    </div>
                    <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/interceptors}, text='Interceptors')"/>

                    <hr class="mt-3 mb-3"/>
                </article>
            </div>
        </div>
    </div>

    <h1>TODO: Migrate to thymeleaf and bootstrap</h1>

    <div class="container">
        <div>

            <h5><a href="events">Events</a></h5>
            <p><code>src/main/java/at/gepardec/cditraining/events/*</code></p>
            <p>have a look at <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#events">Events</a></p>
        </div>

        <div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
    </div>
</section>
</body>
</html>
