<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Welcome')"/>

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='CDI Training Concepts', href=@{/api/welcome})"/>

<article>
    <div class="container-md text-center">
        <div id="index-example-injection" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Injection</h2>

                        <div class="card-text text-left">
                            <p>
                                In the first two examples you learn the basic of the basic when it comes to CDI and
                                injection.
                                <br/>
                                When you click one of the buttons you will experience an error, so analyze the package
                                <code>src/main/java/at/gepardec/cditraining/inject/*</code> and find out what's going
                                wrong.
                            </p>

                            <p>
                                The specification for
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#injection" target="_blank">
                                    Dependency Injection
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/inject-field}, text='Injection')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/inject-constructor}, text='Constructor Injection')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-scopes" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Scopes</h2>

                        <div class="card-text text-left">
                            <p>
                                In this example you will learn about CDI scopes, their impacts and proper usage
                            </p>
                            <ul>
                                <li>
                                    <b>Basic Scopes:</b> Beans with scopes
                                </li>
                                <li>
                                    <b>Mixed Scopes:</b> Scoped beans which inject scoped beans
                                </li>
                                <li>
                                    <b>Dependent Scope:</b> The CDI default scope
                                </li>
                            </ul>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/scopes/basic}, text='1. Basic Scopes')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/scopes/mixed}, text='2. Mixed Scopes')"/>
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/scopes/dependent}, text='3. Pseudo-Scope Dependent')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-initialization" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Initialization</h2>

                        <div class="card-text text-left">
                            <p>
                                CDI beans have a lifecycle and we can observe events when beans get created and
                                destroyed.
                            </p>
                            <p>
                                How to use <code>@PostConstruct</code> and <code>@PreDestroy</code> in CDI
                                <a href="https://javaee.github.io/tutorial/cdi-basic014.html"
                                   target="_blank">
                                    https://javaee.github.io/tutorial/cdi-basic014.html
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/initialization}, text='Initialization')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-qualifiers" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Qualifiers</h2>

                        <div class="card-text text-left">
                            <p>
                                When we have multiple implementations for an CDI bean (interface), then we need to
                                qualify
                                them, otherwise how is the CDI container supposed to know what implementation to
                                provide?
                            </p>
                            <p>
                                The specification for CDI Qualifiers
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#qualifiers"
                                   target="_blank">
                                    Qualifiers
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/qualifiers}, text='Qualifiers')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-producers" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Producers</h2>

                        <div class="card-text text-left">
                            <p>
                                Usually the CDI container creates the CDI bean instance via the empty constructor, but
                                what if the instantiation of the instance is not that simple?
                            </p>
                            <p>
                                The specification for CDI
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_method"
                                   target="_blank">
                                    Producer Methods
                                </a>
                                and
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_field"
                                   target="_blank">
                                    Producer Fields
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/producers}, text='Producers')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-interceptors" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Interceptors</h2>

                        <div class="card-text text-left">
                            <p>
                                Aspects in CDI are implemented via interceptors and applied via interceptor binding
                                annotations, for instance <code>@Transactional</code>.
                            </p>

                            <p>
                                The specification for CDI
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#interceptors"
                                   target="_blank">
                                    Interceptors
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/interceptors}, text='Interceptors')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-decorators" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Decorators</h2>

                        <div class="card-text text-left">
                            <p>
                                CDI interceptors are generic and are applied via annotations, but CDI decorators
                                implement
                                the CDI bean type and are applied in a de-coupled fashion.
                            </p>

                            <p>
                                The specification for CDI
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#decorators" target="_blank">
                                    Decorators
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/decorators}, text='Decorators')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="index-example-events" class="row m-1">
            <div class="col mb-2">
                <section class="card">
                    <div class="card-body">
                        <h2 class="card-title">Events</h2>

                        <div class="card-text text-left">
                            <p>
                                CDI provides an event system which can be used to couple parts of the application
                                in a de-coupled fashion.
                            </p>

                            <p>
                                The specification for CDI
                                <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#events" target="_blank">
                                    Events
                                </a>
                            </p>

                            <div class="text-center">
                                <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/api/events}, text='Events')"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
