<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Welcome')"/>

<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="mx-auto">
        <h1>Welcome to the CDI Training</h1>
    </div>
</nav>
<section>
    <div class="container text-center">
        <div class="row text-left">
            <div class="col">
                <article>
                    <hr class="solid mb-4"/>

                    <p>
                        Welcome to the CDI-Training where you will learn the the basic concepts of CDI
                        and how to use them properly in your real time applications.
                    </p>
                    <p>
                        Your are encouraged to work together and you use any internet resource to help you
                        to work through the exercises.
                    </p>
                    <p>
                        The goal of this training is that you understand
                    </p>
                    <ul>
                        <li>the CDI concepts,</li>
                        <li>their impacts,</li>
                        <li>and their advantages and drawbacks.</li>
                    </ul>
                    <p>
                        See the following resources which will help you to work through the examples
                    </p>
                    <ul>
                        <li>
                            <a href="http://cdi-spec.org/" target="_blank">cdi-spec.org</a>
                        </li>
                        <li>
                            <a href="https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html" target="_blank">CDI
                                2.0 Spec</a>
                        </li>
                    </ul>

                    <div id="index-examples" class="text-center m-3">
                        <a th:replace="/WEB-INF/fragments/general.html :: button(href=@{/index}, text='Start')"/>
                    </div>

                    <div class="mx-auto w-50 h-50">
                        <img src="http://cdi-spec.org/images/cdi_herologo.png" alt="CDI Spec Logo" class="image-fluid"
                             width="100%" height="100%" title="http://cdi-spec.org"/>
                    </div>

                    <hr class="solid mt-4 mb-4"/>
                </article>
            </div>
        </div>
    </div>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
