<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Dependent Scope')"/>
<!--/*@thymesVar id="dependentBeanRequestScopedValue" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="dependentBeanSessionScopedValue" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="dependentBeanApplicationScopedValue" type="java.lang.Integer"*/-->
<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Pseudo-Scope Dependent', href=@{/index#index-example-scopes})"/>

<section>
    <article>
        <div class="container ">
            <div class="row m-2">
                <div class="col text-center">
                    <h4>
                        Click <kbd>F5</kbd> to refresh
                    </h4>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-1">
                <div class="col">
                    <p>
                        When your scopes are properly, then you should see the values changing as described
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-1">

                <div class="col text-right mr-1">
                    <p><b>request.dependent.value</b> never changes: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${dependentBeanRequestScopedValue}" class="font-weight-bold"/>
                </div>
            </div>
            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p><b>session.dependent.value</b> starts new in a private session: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${dependentBeanSessionScopedValue}" class="font-weight-bold"/>
                </div>
            </div>
            <div class="row m-1">
                <div class="col text-right mr-1">
                    <p><b>application.dependent.value</b> always changes: </p>
                </div>
                <div class="col text-left ml-1">
                    <span th:text="${dependentBeanApplicationScopedValue}" class="font-weight-bold"/>
                </div>
            </div>
        </div>
    </article>
</section>
</body>
