<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title=${tabTitle})"/>
<!--/*@thymesVar id="requestValue" type="java.lang.String"*/-->
<!--/*@thymesVar id="sessionValue" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationValue" type="java.lang.String"*/-->
<!--/*@thymesVar id="tabTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="request" type="javax.servlet.http.HttpServletRequest"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title=${tabTitle}, href=@{/api/index#index-example-scopes})"/>

<main>
    <article>
        <section>
            <div class="container-lg ">
                <div class="row m-2">
                    <div class="col">
                        <p>
                            The specification for CDI
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#contexts"
                               target="_blank">
                                Scopes and Contexts
                            </a>
                        </p>

                        <p>
                            A main concept in CDI are contexts and scopes which define the lifetime and handle the
                            lifecycle
                            of CDI Beans. All CDI Beans are lazily instantiated on the first access within a scope and
                            get
                            automatically destroyed when the context ends. CDI Beans can inject each other no mather
                            what
                            scope the CDI Beans have. But there are consequences when CDI Beans of different scopes are
                            mixed together.
                        </p>

                        <hr class="mt-3 mb-3"/>

                        <h5>
                            Your Task:
                        </h5>

                        <p>
                            Fix the scopes of the beans in the package
                            <code>src/main/java/at/gepardec/cditraining/scopes/*</code>
                            and check the table below if it works
                        </p>
                        <p>
                            When your scopes are set properly, then you should see the values changing as described.
                        </p>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading font-weight-bold">Important!!</h5>
                            Ensure that you open a different browser to ensure different http sessions
                        </div>

                        <hr class="mt-3 mb-3"/>

                        <div class="row my-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                <span>I should never change</span>
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${requestValue}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                <span>I start new in a window</span>
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${sessionValue}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-sm text-center text-sm-right mr-sm-1">
                                <span>I should always change</span>
                            </div>
                            <div class="col-sm text-center text-sm-left ml-sm-1">
                                <span th:text="${applicationValue}" class="font-weight-bold"/>
                            </div>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
