<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<!--/*@thymesVar id="target" type="java.lang.String"*/-->

<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/mdb-4.19.2/css/bootstrap.min.css}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" th:href="@{/assets/mdb-4.19.2/css/mdb.min.css}">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" th:href="@{/assets/mdb-4.19.2/css/style.css}">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" th:href="@{/assets/font-awesome-5.15.2/css/all.min.css}">
    <title th:text="${'CDI Training - ' + title}"></title>
    <style>
        body {
            margin-top: 90px;
        }
    </style>
</head>
<body>
<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/assets/mdb-4.19.2/js/jquery.min.js}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" th:src="@{/assets/mdb-4.19.2/js/popper.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/assets/mdb-4.19.2/js/bootstrap.min.js}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" th:src="@{/assets/mdb-4.19.2/js/mdb.min.js}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" th:src="@{/assets/font-awesome-5.15.2/js/fontawesome.min.js}"></script>
</div>

<!-- Header Elements -->
<header th:fragment="header-subpage (title, href)">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-light scrolling-navbar">
        <div class="navbar-collapse collapse w-25 order-1 order-md-0 dual-collapse2">
            <a class="btn btn-primary" th:href="${href}">
                <i class="fa fa-step-backward mr-2"></i>Back
            </a>
        </div>
        <div class="mx-auto order-0">
            <h1 class="center-block" th:text="${title}"/>
        </div>
        <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
        </div>
    </nav>
</header>

<!-- Footer Fragements -->
<footer th:fragment="footer (href)">
    <a class="btn btn-primary" th:href="${href}"
       role="button">Back</a>
</footer>

<!-- Buttons -->
<a th:fragment="button (href, text)"
   th:with="target=${target} ?: '_self'"
   class="btn btn-primary" th:target="${target}" th:href="${href}" th:text="${text}" role="button"/>
</body>
</html>