<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Startup-Event')"/>
<!--/*@thymesVar id="failedEvents" type="java.lang.String"*/-->
<!--/*@thymesVar id="successEvents" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Startup-Event', href=@{/api/uc/index#uc-example-startupevent})"/>

<section>
    <article>
        <div class="container">

            <div class="row m-2 text-center">
                <div class="col mr-1">
                    <h4>
                        For this example you need to check the logs
                    </h4>

                    <hr class="mt-3 mb-3"/>

                    <div class="text-left">
                        <p>Search the startup logs for the following logs:</p>

                        <pre>
2021-02-08 07:58:32 INFO  StartupWebListener - Notifying Observers about startup
2021-02-08 07:58:32 INFO  StartupObserver - Startup observed by StartupObserver
2021-02-08 07:58:32 INFO  StartupWebListener - Notified Observers: StartupObserver
                        </pre>
                    </div>
                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <p>
                        See the package <code>at.gepardec.cditraining.uc.startupevent.*</code> for the relevant
                        classes.
                        Especially take a look at the comments
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <p>
                        CDI has no native support for a <code>StartupEvent</code> which gets fired when the container is
                        up and running. But this is not hard to implement at all
                    </p>

                    <p>
                        In this example we have created our own <code>StartupEvent</code> type (just an ordinary java
                        class)
                        and a <code>ServletContextListener</code> implementation to register for a servlet container
                        initialized event. When the servlet container is up and running then the CDI container is as
                        well
                    </p>

                    <hr class="mt-3 mb-3"/>
                </div>
            </div>
            <div class="row m-2">
                <div class="col text-center">
                    <h5>
                        The <code>ServletContextListener</code> implementation is used to fire our event when the
                        servlet container is up and running to notify the registered observers
                    </h5>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
