<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='UC Startup-Event')"/>
<!--/*@thymesVar id="failedEvents" type="java.lang.String"*/-->
<!--/*@thymesVar id="successEvents" type="java.lang.String"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='UC Startup-Event', href=@{/api/uc/index#uc-example-startupevent})"/>

<main>
    <article>
        <div class="container-lg">
            <div class="row m-2">
                <div class="col">
                    <section>
                        <p>
                            The specification for CDI
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#events" target="_blank">
                                Events
                            </a>
                        </p>
                        <p>
                            CDI Events are used couple parts of an application in decoupled manner, where all
                            application parts are only coupled via the event type and nothing more. Events are
                            used to notify observers about that something has happened.
                        </p>
                        <p>
                            A use-case for using CDI Events would be to notify modules of an application
                            about the startup of the application, that the application is ready, or that the
                            application is being shutdown, so that the application modules can act on those
                            events.
                        </p>
                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section>
                        <div class="text-left">
                            <p class="font-weight-bold">Search the startup logs for the following logs:</p>

                            <pre>
2021-02-08 07:58:32 INFO  StartupWebListener - Notifying Observers about startup
2021-02-08 07:58:32 INFO  StartupObserver - Startup observed by StartupObserver
2021-02-08 07:58:32 INFO  StartupWebListener - Notified Observers: StartupObserver
                        </pre>
                        </div>
                        <hr class="mt-3 mb-3"/>

                        <p>
                            See the package <code>at.gepardec.cditraining.uc.startupevent.*</code> for the relevant
                            classes.
                            Especially take a look at the comments
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </section>

                    <section class="text-center font-weight-bold">
                        <p>
                            The <code>ServletContextListener</code> implementation is used to fire an custom event type
                            when the servlet container is initialized, which means the container is up and running.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
