<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="/WEB-INF/fragments/general.html :: head (title='Decorators')"/>
<!--/*@thymesVar id="producedString" type="java.lang.String"*/-->
<!--/*@thymesVar id="producedBeanValue" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="producedBeanClass" type="at.gepardec.cditraining.producers.ProducedBean"*/-->

<body>
<header th:replace="/WEB-INF/fragments/general.html :: header-subpage(title='Decorators', href=@{/index#index-example-decorators})"/>

<main role="main">
    <section>
        <article>
            <div class="container">
                <div class="row m-2">
                    <div class="col text-center">
                        <h4>
                            Click <kbd>F5</kbd> to refresh
                        </h4>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <p>
                            See the package <code>at.gepardec.cditraining.decorators.*</code> for the relevant classes.
                        </p>

                        <p>
                            An decorator is either registered via the a <code>beans.xml</code> or
                            via the <code>@Priority</code> annotation.
                        </p>
                        <p>
                            A decorator implements the beans interface and is usually an abstract class <span
                                class="font-italic">(You only need to implement methods you want to decorate)</span>.
                        </p>
                        <p>
                            A decorator depends on the bean type, but the decorated bean itself doesn't need to know
                            anything about a decorator, therefore a decorator can be enabled in an decoupled fashion.
                        </p>
                        <p>
                            Decorators cannot and should not share state with each other, there is no
                            <code>InvocationContext</code>
                            which can hold a parameter map.
                        </p>
                        <p>
                            You need to check the logs to see if the interceptors are working.
                        </p>
                        <p>
                            Here you find the spec for
                            <a href="https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#decorators" target="_blank">
                                Decorators
                            </a>
                        </p>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2 ">
                    <div class="col">
                        <h4>
                            1. Decorator enabled via <code>@Priority</code>
                        </h4>

                        <p>
                            Decorators enabled with <code>@Priority</code> are enabled
                            globally in all CDI modules.
                            <br/>
                            If all decorators define the
                            same priority then the order they are executed is not deterministic.
                        </p>

                        <h5>
                            Your Task:
                        </h5>

                        <p>
                            Ensure that the decorator
                            <code>at.gepardec.cditraining.decorators.ServiceDecorator</code>is enabled via
                            <code>@Priority</code>
                            annotation.
                        </p>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading">Important!!</h5>
                            Ensure that the decorator is not enabled in the <code>beans.xml</code> and maybe <b>something
                            other has happen't :)</b>
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2 ">
                    <div class="col">
                        <h4>
                            2. Decorator enabled via <code>beans.xml</code>
                        </h4>

                        <p>
                            Decorators enabled with <code>beans.xml</code> are enabled
                            only in the declaring CDI module. With this approach you have no problems with ordering.
                        </p>

                        <h5>
                            Your Task:
                        </h5>

                        <p>
                            Ensure that the decorator
                            <code>at.gepardec.cditraining.decorators.ServiceDecorator</code> is enabled in the <code>beans.xml</code>.
                        </p>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading">Important!!</h5>
                            Ensure that the decorator is not enabled via the <code>@Priority</code> annotation
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>

                <div class="row m-2 ">
                    <div class="col">
                        <h4>
                            3. Your own Decorator
                        </h4>

                        <p>
                            Now it's time to implement your own decorator.
                        </p>

                        <h5>
                            Your Tasks:
                        </h5>

                        <p>
                            <b>a)</b>
                            Implement a decorator which decorates the method
                            <code>at.gepardec.cditraining.decorators.ServiceApi.doSomething()</code> and logs a message
                            before and after invoking the delegate.
                        </p>

                        <p>
                            <b>b)</b>
                            Enable your decorator and ensure your decorator is invoked first.
                        </p>

                        <p>
                            <b>c)</b>
                            To skip the decorator chain a decorator just needs to skip to call the decorated method on
                            the delegate. Give it a try an debug into it.
                        </p>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading">Important!!</h5>
                            A decorator is CDI bean and can inject other CDI beans!!!
                        </div>

                        <p>
                            <b>e)</b>
                            Annotate the method <code>at.gepardec.cditraining.decorators.ServiceApi.doSomething()</code>
                            with an interceptor annotation and take a look at your logs.
                        </p>

                        <div class="alert alert-info mt-2 mb-2" role="alert">
                            <h5 class="alert-heading">Important!!</h5>
                            Decorators are always executed after interceptors, so a decorator is invoked within an
                            aspect!!!
                        </div>

                        <hr class="mt-3 mb-3"/>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
<div th:replace="/WEB-INF/fragments/general.html :: scripts"/>
</body>
</html>
